<% content_for :title, "Rooms" %>

<div id='chatapp' data-controller='room'>

    <div id='rooms'>
        <h2 class="section-title">Chat Rooms</h2>

        <div id="create-room">
            <%= render partial: 'form', locals: {room: Room.new(name:"Room #{Room.count + 1}")} %>
        </div>

        <div id='room-list'>
            <% @rooms.each do |room| %>
            <%= render room %>
            <% end %>
        </div>

        <div id="logout-container">
            <%= button_to "Logout", session_path, method: :delete, class: "logout-button" %>
        </div>
    </div>

    <div id='messages'>
        <%= turbo_frame_tag 'chat-header' do %>
        <h2 data-room-target="name"><%= @room_name.blank? ? "Select room" : @room_name %></h2>
        <% end %>

        <%= turbo_frame_tag 'room-messages' do %>
        <div id='message-list'>
            <% @messages.each do |message| %>
            <%= render message %>
            <% end %>
        </div>

        <% if @room %>
        <%= render partial: 'messages/form', locals: {message: Message.new(room: @room)} %>
        <%= turbo_stream_from @room %>
        <% end %>
        <% end %>
    </div>
</div>